.title-section {
    display: flex;
    margin-bottom: 20px;
    flex-direction: column;
    h2 {
        margin-right: 20px;
    }
    .search {
        display: flex;
        flex-grow: 1;
        justify-content: flex-end;
        margin-top: 20px;
        .input {
            margin-bottom: 0px;
            width: 100%;
        }
    }
}

@media only screen and (min-width: $screen-lg) {
    .title-section {
        margin-bottom: 40px;
        flex-direction: row;
        h2 {
            margin-right: 40px;
        }
        .search {
            margin-top: 0;
            .input {    
                max-width: 500px;
            }
        }
    }
}