$background-color: #232c32;
$dashitem-background-color: #2a333a;
$main-highlight-color: #18bdb1;
$darken-main-highlight-color: #1a5a5f;
$secondary-highlight-color: #fdb755;
$darken-secondary-highlight-color: #f2936b;
$heading-color: #ebebeb;
$text-color: #abaeb5;
$darken-text-color: #22303b;

$border-radius: 10px;
$box-shadow: 2px 2px 5px 3px rgba(0, 0, 0, 0.5);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;