$purple: #6F6AF8;
$light-purple: #F1F1FC;
$dark-purple: #160F47;
$white: #F8FAFB;

$border-radius: 10px;
$box-shadow: 2px 3px 5px 2px rgba(0, 0, 0, 0.2);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;