$nice-black: #272b34;
$light-black: #373a44;
$text-color: #FFFFFF;
$highlight-color: #ff4b4c;

$border-radius: 10px;
$box-shadow: 1px 2px 5px 2px rgba(255, 255, 255, 0.1);

$screen-sm: 576px;
$screen-md: 768px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1400px;